/* Global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
html, body {
    font-size: 97.5%;
}
a {
    text-decoration: none;
    color: black;
}



[aria-label] {
    position: relative;
    transition: all .15s;
}
[aria-label]::after {
    content: attr(aria-label);
    display: none;
    position: absolute;
    width: 8rem;
    top: 110%;
    border-radius: .2rem;
    left: 0;
    text-align: center;
    z-index: 5000;
    pointer-events: none;
    padding: 8px 10px;
    text-decoration: none;
    font-size: .7em;
    color: #fff;
    background-color: #525252;
    transition: all .15s;

}

[aria-label]:hover::after {
    display: block;
    transition: all .15s;

}
/* APP */
.container {
    width: min(1000px, 90vw);
    margin: auto;
    /* background-color: antiquewhite; */
}
#app {
    transition: all .2s;
    opacity: 0;
    visibility: hidden; 
    display: none;
}

#app.active {
    display: block;
    opacity: 1;
    /* background-color: aliceblue; */
    visibility: visible;

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

#app.active header {
    padding: 4rem 0 4rem;
    text-align: center;
    background-color: #222;
}

#app.active main {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}


#app.active main.appear {
    animation-delay: .2s;
}
#app.active main section {
    padding: .8rem;
    border-radius: .3rem;
    background-color: #fbfbfb;
    transition: all .2s
}

#app.active main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    grid-auto-columns: 1fr;
    grid-template-columns: 4fr 1fr 5rem;
    gap: 1rem;
    grid-column: 1fr 1fr;
    grid-template-areas: 
    "months months sidebar"
    "data-table data-table sidebar";
}


#app.active main h2 {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}
#months {
    grid-area: months;
}

#app.active main .month-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    transition: all .2s;
    opacity: 1;
}

#app.active main .month-buttons button {
    padding: .2rem;
    opacity: .8;
    border-radius: .3rem;
    transition: all .2s;
    font-weight: 600;
    transition: all .2s
}

#app.active main .month-buttons button:hover {
    opacity: .5;
}
#app.active main .month-buttons button:focus {
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.247);
    color: black;
    opacity: 1;
    font-weight: 800;
}

#app.active main .month-buttons.hide {
    visibility: none;
    display: none;
    opacity: 0;
    transition: all .2s;
}

#data-table {
    /* display: block; */
    grid-area: data-table;

}
#data-table .margin {
    display: block;
    overflow-x: auto;
}

#data-table table.hide {
    visibility: hidden;
}

#data-table table {
    visibility: visible;
}

#app.active main section#sidebar {
    grid-area: sidebar;
    padding: 0;
    background-color: transparent;
    /* height: 11rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#app.active footer {
    text-align: center;
    padding: 2rem;
}

footer.appear {
    display: block;
    animation-delay: .3s;
}

@media (max-width: 700px) {
    html, body {
        font-size: 93.75%;
    }
    #app.active main {
        grid-template-areas: 
        "months months months"
        "sidebar sidebar sidebar"
        "data-table data-table data-table";
    }

    #app.active main .month-buttons {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #app.active main section#sidebar {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: .8rem;
        background-color: #fbfbfb;
    }
    #app.active main section#sidebar .btn-round {
        width: 3rem;
        height: 3rem;
        height: auto;
    }
}