/* Global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
html, body {
    font-size: 97.5%;
}
a {
    text-decoration: none;
}





/* APP */
.container {
    width: min(1000px, 90vw);
    margin: auto;
    /* background-color: antiquewhite; */
}
#app {
    transition: all .2s;
    opacity: 0;
    visibility: hidden;
}

#app.active {
    opacity: 1;

    /* background-color: aliceblue; */
    visibility: visible;

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

#app.active header {
    padding: 4rem 0 4rem;
    text-align: center;
    background-color: #222;
}

#app.active main {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

#app.active main section {
    padding: .8rem;
    border-radius: .3rem;
    background-color: #fbfbfb;
    transition: all .2s
}

#app.active main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    grid-auto-columns: 1fr;
    grid-template-columns: 4fr 1fr 5rem;
    gap: 1rem;
    grid-column: 1fr 1fr;
    grid-template-areas: 
    "months months sidebar"
    "data-table data-table sidebar";
}


#app.active main h2 {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}
#months {
    grid-area: months;
}

#app.active main .month-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    transition: all .2s;
    opacity: 1;
}

#app.active main .month-buttons button {
    padding: .2rem;
    opacity: .8;
    border-radius: .3rem;
    transition: all .2s;
    font-weight: 600;
    transition: all .2s
}

#app.active main .month-buttons button:hover {
    opacity: .5;
}
#app.active main .month-buttons button:focus {
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.247);
    color: black;
    opacity: 1;
    font-weight: 800;
}



#app.active main .month-buttons.hide {
    visibility: none;
    display: none;
    opacity: 0;
    transition: all .2s;
}

#data-table {
    /* display: block; */
    grid-area: data-table;

}
#data-table .margin {
    display: block;
    overflow-x: auto;
}

#data-table table.hide {
    visibility: hidden;
}

#data-table table {
    visibility: visible;
}

#sidebar {
    grid-area: sidebar;
}


#new-donate {
    height: 5rem;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
}

#new-donate:hover {
    box-shadow: 0px 7px 10px rgba(95, 214, 26, 0.205);
}

footer {
    text-align: center;
}

@media (max-width: 700px) {
    html, body {
        font-size: 93.75%;
    }
    #app.active main {
        grid-template-areas: 
        "months months months"
        "sidebar sidebar sidebar"
        "data-table data-table data-table";
    }

    #app.active main .month-buttons {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #new-donate {
        width: 5rem;
        height: 5rem;
        border-radius: 10rem;
        position: fixed;
        left: 1rem;
        bottom: 1rem;
    }
}