form {
    width: min(480px, 80vw);
    background-color: #FFF;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 1px 5px 10px #6d6d6d15;

}
form fieldset {
    border: none;
}
 form fieldset legend {
     width: 100%;
     display: flex;
     justify-content: space-between;
    margin-bottom: 1.2rem;
}
form fieldset p {
    margin-bottom: 1rem;
}

/* Inputs */
.input-box {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: .4rem 0;
    transition: all .2s;
}

.input-box input {
    padding: .8rem;
    border: 2px solid #d0d0d0;
    border-radius: .5rem;
    outline: none;
    transition: ease .2s;

}

.input-box label {
    font-weight: 600;
    font-size: .9em;
    padding: 0 .1rem;
    top: -.2rem;
    left: .6rem;
    position: absolute;
    background-color: #FFF;
    color: #d0d0d0;
    transition: ease .2s;

}

.input-box:focus-within label {
    color: orange;
}

.input-box:focus-within input {
    border-color: orange;
}


span.error {
    opacity: 0;
    transition: all .15s;
}
span.error.active {
    opacity: 1;
    margin: .4rem 0;
    background: rgba(247, 25, 29, 0.541) ;
    color: #fff;
    border-left: 3px solid #da1818;
    font-weight: 600;
    display: inline-block;
    width: 100%;
    padding: .4rem;
}

span.success {
    opacity: 0;
    transition: all .15s;
    position: absolute;
    top: 1rem;
    left: -5rem;
    transition: all .15s;
}

span.success.active {
    opacity: 1;
    background-color: #212121;
    padding: .8rem;
    color: #18da28;
    border: 1px solid #18da2875;
    border-radius: .2rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    box-shadow: 0px 5px 10px #18da281c;
    transition: all .15s;
}

select {
    width: 100%;
    padding: .8rem;
    border: 2px solid #d0d0d0;
    border-radius: .5rem;
    outline: none;
    transition: ease .2s;
    margin-bottom: .4rem;
}

