#modal-add-donate {
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: all .2s;
}

#modal-add-donate.active {
    visibility: visible;
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #222222d0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    z-index: 10000;
}


#modal-add-donate form {
    height: 0px;
    transition: all .2s;
    margin-bottom: -10rem;

}

#modal-add-donate.active form {
    height: auto;
    transition: all .2s;
    margin-bottom: 0;
}
.input-group-1fr-3fr {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: .4rem;
}

.input-group-1fr-3fr .input-box input[type="date"] {
    width: 100%;
    background-color: #FFF;
}

.input-group-1fr-3fr .input-box input#quantity {
    width: 100%;
    height: 100%;
    background-color: #FFF;
}

#modal-edit-donate {
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: all .2s;
}

#modal-edit-donate.active {
    visibility: visible;
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #222222d0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
}

#modal-exclude-donate {
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: all .2s;
}

#modal-exclude-donate.active {
    visibility: visible;
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #222222d0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
}

#modal-export {
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: all .2s;
}

#modal-export.active {
    visibility: visible;
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #222222d0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
}

#modal-export.active .content {
    width: min(300px, 80vw);
    background-color: #FFF;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 1px 5px 10px #6d6d6d15;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* justify-content: space-between; */
}